<h5>会員情報編集</h5>
<div class='container'>
  <div class='row'>
    


<%= form_for @end_user do |f| %>
<%= render "devise/shared/error_messages", resource: @end_user %>



  <div class="field">
    <%= f.label :氏名 %>
    
    <%= f.label :（姓） %>
    <%= f.text_field :name_last, autofocus: true %>
    
    <%= f.label :（名） %>
    <%= f.text_field :name_first, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :フリガナ %>
    
    <%= f.label :（セイ） %>
    <%= f.text_field :hurigaa_last, autofocus: true %>
  
    <%= f.label :（メイ） %>
    <%= f.text_field :hurigana_first, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

   <div class="field">
    <%= f.label :郵便番号（ハイフンなし） %>
    <%= f.text_field :postal_code, autofocus: true %>
  </div>
  
   <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address, autofocus: true %>
  </div>
  
   <div class="field">
    <%= f.label :電話番号（ハイフンなし） %>
    <%= f.text_field :telephone_number, autofocus: true %>
  </div>
  
  
<div class ="row">
     <div class="col-md-5">
 
    <%= f.submit "編集内容を保存",  class: "btn btn-success save col-md-8"%>
  </div>
<div class="col-md-4">
          <%= link_to "退会する",quit_end_user_path(@end_user.id),  class: "btn btn-danger col-md-9"%>
        </div>
  </div>
  <% end %>
  

  </div>
  </div>