<h4 class ="text-center m-5 border-bottom p-1">マイページ</h4>


<h5>登録情報  :
  <%= link_to "編集する", edit_end_user_path(@end_user), class: "btn btn-success" %>
</h5>

<table class="table table-bordered table-condensed" >
    <tbody>
        <tr>
            <td>氏名</td>
            <td><%= @end_user.name_last %><%= @end_user.name_first %></td>
        </tr>
        <tr>
            <td>カナ</td>
            <td><%= @end_user.hurigana_last %><%= @end_user.hurigana_first %></td>
        </tr>
        <tr>
            <td>郵便番号</td>
            <td><%= @end_user.postal_code%></td>
        </tr>
        <tr>
            <td>住所</td>
            <td><%= @end_user.address %></td>
        </tr>
        <tr>
            <td>電話番号</td>
            <td><%= @end_user.telephone_number %></td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td><%= @end_user.email %></td>
        </tr>
    </tbody>
</table>

<h6>
　配送先  :
  <%= link_to "一覧を見る", shipping_addresses_path(@end_user), class: "btn btn-info order-index-back" %>
</h6>
<h6>
  注文履歴 :
  <%= link_to "一覧を見る", orders_path, class: "btn btn-info order-index-back" %>
</h6>