<div class="container">
  <div class="row">
    <div class="col-lg-2">
	    <table class="table table-bordered genre-table table-hover" bgcolor="#ffffff">
        <thead>
          <tr>
            <th class="genre-title">ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= link_to genre.name, products_path('search[value]': genre.name),class:"link" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
	</div>
	<div class="col-lg-10">
		<div class="row">
      <div class="col-lg2 text-left">
				<h3 class="text-center">
					<p><span>商品一覧</span>(全<%= @products.count %>件)</p>
				</h3>
			</div>
		</div>
		<div class="row products">
			<% @products.each do |product| %>
			  <div class="row">
		      <div class="col-lg-10">
		        <div class="row">
		          <div class="col-lg-10">
                <%= link_to product_path(product.id), class: "btn-link" do %>
                  <%= attachment_image_tag(product, :image, size: "210x150") %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-10">
                <p><%= product.name %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-10 ">
                <% if product.is_active == true %>
                  <p>¥<%= product.add_tax_price.to_s(:delimited) %></p>
                <% elsif product.is_active == false %>
                  <p class="sold-out">SOLD OUT</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

	  </div>
	  <div class="col-lg-10"><div class="pagination"><%= paginate(@products) %></div></div>
  </div>
</div>