<h2>注文履歴詳細</h2>

  <table class="table">
    <tr>
    <th>購入者</th>
    <th><%= @order.end_user.name_last %><%= @order.end_user.name_first %></th>
    </tr>

    <tr>
    <th>注文日</th>
    <th><%= @order.created_at.strftime('%Y/%m/%d') %></th>
    </tr>

    <tr>
    <th>配送先</th>
    <th>〒<%= @order.postal_code %><br>
    　　<%= @order.address%><br>
    　　<%= @order.name%></th>
    </tr>

    <tr>
    <th>支払方法</th>
    <th><%= @order.payment_method%></th>
    </tr>

  <%= form_for @order, url: admin_order_path, local:true do |f| %>
    <tr>
      <th>注文ステータス</th>
      <th><%= select :order, :order_status, Order.order_statuses.keys.to_a, include_blank: true %></th>
      <th><%= f.submit "更新", class: "btn btn-success btn-sm" %></th>
    </tr>
  <% end %>
  </table>


  <div class="col-md-8 offset-md-1">
      <table class="table table-hover table-inverse">
       <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込み）</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
        </tr>
      </thead>
       <% @order_products.each do |order_product| %>
      <tbody>
       <tr>
        <td><%= order_product.product.name %></td>
        <td><%= tax_price(order_product.product.unit_price).to_s(:delimited) %>/td>
        <td><%= order_products.quantity%></td>
        <td><%= sub_total(order_product).to_s(:delimited) %></td>
        <th><%= select :order, :order_products, Order.order_products.keys.to_a, include_blank: true %></th>
       </tr>
      </tbody>
      <% end %>
      </table>

        <div class="total">
     <h4>商品合計     <%= @order.total_price.to_i %>円</h4>
     <h4>送料　　　    <%= @order.postage %>円</h4>
     <h4>請求金額合計　<%= (@order.total_price.to_i + @order.postage.to_i) %>円</h4>
    </div>



    </div>

