<h2>注文履歴詳細</h2>

  <table class="table">
    <tr>
      <th>購入者</th>
      <th><%= @order.end_user.name_last %><%= @order.end_user.name_first %></th>
    </tr>

    <tr>
      <th>注文日</th>
      <th><%= @order.created_at.strftime('%Y/%m/%d') %></th>
    </tr>

    <tr>
      <th>配送先</th>
      <th>〒<%= @order.postal_code %><br>
    　　    <%= @order.address%><br>
    　　    <%= @order.name%></th>
    </tr>

    <tr>
      <th>支払方法</th>
      <th><%= @order.payment_method%></th>
    </tr>


    <tr>
      <th>注文ステータス</th>
       <%= form_for @order, url: admin_order_path, local:true do |f| %>
      <th><%= f.select :order_status, Order.order_statuses.keys.to_a, include_blank: true %></th>
      <th><%= f.submit "更新", class: "btn btn-success btn-sm" %></th>
       <% end %>
    </tr>

  </table>

 <div class="row">
  <div class="col-xs-10">
　　 <table class="table table-hover table-inverse">
       <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込み）</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
          <th></th>
        </tr>
      </thead>
       <% @order_products.each do |order_products| %>
      <tbody>
       <tr>
        <td><%= order_products.product.name %></td>
        <td>¥<%= order_products.add_tax_price.to_s(:delimited) %>(税込)</td>
        <td><%= order_products.quantity%></td>
        <td><%= order_products.add_tax_subtotal.to_s(:delimited) %></td>

        <%= form_for order_products, url: admin_order_product_path(order_products), local:true do |f| %>
        <th><%= f.select :make_status, OrderProduct.make_statuses.keys.to_a, include_blank: true %>
        <th><%= f.submit "更新", class: "btn btn-success btn-sm" %></th>
         <% end %>
       </tr>
      </tbody>
      <% end %>
    </table>
  </div>

  <div class="d-flex align-items-end">
    <div class="col-xs-2">
     <div class="total">
       <h4>商品合計     ¥<%= @order_products.sum_price.to_s(:delimited) %>円</h4>
       <h4>送料　　　    <%= @order.postage %>円</h4>
       <h4>請求金額合計　<%= (@order_products.sum_price.to_i + @order.postage.to_i) %>円</h4>
      </div>
    </div>
  </div>

</div>

