<% if admin_signed_in? %>
<%= form_for @end_user, url: admin_end_user_path, local: true do |f| %>
<h2><span class="badge badge-light"><%= @end_user.name_last+@end_user.name_first %>さんの会員情報編集</span></h2>
  <table class="table">
    <tr>
    <th>会員ID</th>
    <th><%= @end_user.id %></th>
    </tr>

  　<tr>
    <th>氏名</th>
    <th><%= f.text_field :name_last %></th><th><%= f.text_field :name_first %></th>
    </tr>

    <tr>
    <th>フリガナ</th>
    <th><%= f.text_field :hurigana_last %></th><th><%= f.text_field :hurigana_first %></th>
    </tr>

    <tr>
    <th>郵便番号</th>
    <th><%= f.text_field :postal_code %></th>
    </tr>

    <tr>
    <th>住所</th>
    <th><%= f.text_field :address %></th>
    </tr>

    <tr>
    <th>電話番号</th>
    <th><%= f.text_field :telephone_number %></th>
    </tr>

   <tr>
    <th>メールアドレス</th>
    <th><%= f.text_field :email %></th>
    </tr>

     <tr>
    <th>会員ステータス</th>

    <th><%= f.select :is_deleted ,[['退会',true],['有効',false]] %></th>
    </tr>

</table>
   <%= f.submit '変更を保存' ,class:"btn btn-success"%>
<% end %>

<% else %>
  管理者専用ページです。閲覧のためにはログインが必要になります。
<% end %>