 <div class="col-md-8 offset-md-1">
      <h4>会員一覧</h4>
      <table class="table table-hover table-inverse">
       <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
       <% @end_users.each do |end_user| %>
      <tbody>
       <tr>
        <td><%= end_user.id %></td>
        <td><%= link_to end_user.name_last, admin_end_user_path(end_user) %><%= link_to end_user.name_first, admin_end_user_path(end_user) %></td>
        <td><%= end_user.email %></td>
        <td><%= end_user.is_deleted ? '退会' : '有効' %></td>
       </tr>
      </tbody>
      <% end %>
      </table>
      <%= paginate(@end_users) %>
    </div>
