

<h2><span class="badge badge-light"><%= @end_user.name_last+@end_user.name_first %>さんの会員詳細</span></h2>

  <table class="table">
    <tr>
    <th>会員ID</th>
    <td><%= @end_user.id %></td>
    </tr>

    <tr>
    <th>氏名</th>
    <td><%= @end_user.name_last+@end_user.name_first %></td>
    </tr>

    <tr>
    <th>フリガナ</th>
    <td><%= @end_user.hurigana_last %><%= @end_user.hurigana_first%></td>
    </tr>

    <tr>
    <th>郵便番号</th>
    <td><%= @end_user.postal_code%></td>
    </tr>

    <tr>
    <th>住所</th>
    <td><%= @end_user.address%></td>
    </tr>


    <tr>
    <th>電話番号</th>
    <td><%= @end_user.telephone_number%></td>
    </tr>

    <tr>
    <th>メールアドレス</th>
    <td><%= @end_user.email %></td>
    </tr>

    <tr>
    <th>会員ステータス</th>
    <td><%= @end_user.is_deleted ? '退会' : '有効' %></td>
    </tr>

  </table>

<td><%= link_to "編集する", edit_admin_end_user_path(@end_user),class:"btn btn-success" %></td>
<td><%= link_to "注文履歴一覧を見る", edit_admin_end_user_path(@end_user),class:"btn btn-primary" %></td>