<h2><span class="badge badge-light">商品一覧</span></h2>

<div class="text-right">
  <%= link_to "新規登録", new_admin_product_path, class: "btn btn-sm btn-success" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>


  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>

      <td><%= product.name %></td>

      <td><%= product.price %></td>

      <td><%= product.genre.name %></td>

      <!--<td><%#= product.is_active %></td>-->
    </tr>
  </tbody>
  <% end %>
</table>
