<h4 class ="text-center m-5 border-bottom p-1">注文情報確認</h4>


<table class='table table-bordered border-dark'>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>

    <% @cart_products.each do |cart_product| %>
  <tbody>
    <tr>
      <td><%= cart_product.product.name %></td>
      <td>¥ <%= cart_product.add_tax_price.to_s(:delimited) %>(税込)</td>
      <td><%= cart_product.quantity %></td>
      <td> ¥<%= cart_product.add_tax_subtotal.to_s(:delimited) %></td>
    </tr>
  </tbody>
    <% end %>

</table>

<table class='table table-bordered border-dark'>
  <thead>
    <tr>
      <th>送料</th>
      <th>商品合計</th>
      <th>請求金額</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.postage %></td>
      <td> ¥<%= @cart_products.sum_price.to_s(:delimited) %></td>
      <td><% @total = @cart_products.sum_price + @order.postage %>
           ¥<%= @total.to_s(:delimited) %>
      </td>
    </tr>
  </tbody>
</table>

<h5>支払方法</h5>
    <%= @order.payment_method %>
<h5>お届け先</h5>
   <div class="col-md-8 text-left">
        <%= @order.postal_code %></br>
        <%= @order.address %></br>
        <%= @order.name %>
    </div>

<%=form_for @order, url: orders_path, local:true do |f| %>

 
  <%= f.hidden_field :postal_code, :value => @order.postal_code %>
  <%= f.hidden_field :address, :value => @order.address %>
  <%= f.hidden_field :name, :value => @order.name %>
  <%= f.hidden_field :order_status, :value => @order.order_status %>
  <%= f.hidden_field :payment_method, :value => @order.payment_method %>
  <%= f.hidden_field :end_user_id, :value => current_end_user.id %>
  <%= f.hidden_field :postage, :value => 800 %>
  <%= f.hidden_field :total_price, value: @total.to_s(:delimited) %>

<div class="col-md-12">
    <%= f.submit "注文を確定する", class: "btn btn-sm btn-success" %>
</div>

<% end %>