<h4 class ="text-center m-5 border-bottom p-1">注文履歴一覧</h4>
<table class='table table-bordered border-dark'>
    <thead>
        <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
        </tr>
    </thead>

     <% @orders.each do |order| %>
      <tbody>
        <tr>
            <td>
                <%= order.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
                〒<%= order.postal_code %><br>
                <%= order.address %><br>
                <%= order.name %>
            </td>
            <td>

                <% order.order_products.each do |order_product| %>
                  <a><%= order_product.product.name %></a><br>
                <% end %>
            </td>
           
                
            <td>
                <% @sum = 0 %>
                <% order.order_products.each do |order_product| %>
                <% @sum +=  (order_product.purchase_price * order_product.quantity * 1.08).round %>
                <% end %>
                ¥<%= @sum + 800 %>
            </td>
             
             <td><%= order.order_status %></td>
           
            <td>
                <%= link_to "表示する", order_path(order.id), class:"btn btn-primary" %>
            </td>
        </tr>
    </tbody>
    <% end %>
    
    
</table>
