<h5>注文履歴一覧</h>
<table class='table table-bordered border-dark'>
    <thead>
        <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
        </tr>
    </thead>
     <% @order.each do |order| %>
    <tbody>
        <tr>
            <td>
                <%= order.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
                〒<%= order.postal_code %><br>
                <%= order.address %><br>
                <%= order.name %>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <%= order.status %>
            </td>
            <td></td>
        </tr>
    </tbody>
    <% end %>
</table>